h1, h2, h3, p {
    text-align: center;
}

.gray-list {
    text-align: center;
    color: gray;
    list-style: none;
}

.center-list{
    position: relative;
    display: flex;
}

.center-list ul, .center-list ol{
    margin: 0 auto;
}

.inner-list {
    list-style: none;
    text-align: center;
    padding: 0%;
}

.banner {
    width: 100%;
    height: 150px;
}

.logo {
    width: 20%;
}

header{
    background-color: cornflowerblue;
}

nav{
    position: absolute;
    display: inline;
    top: 5em;
    right: 0px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

nav li{
    display: inline;
    vertical-align: top;
    margin-left: 2em;
}

.header-content{
    position: relative;
    width: 95em;
    margin: 0 auto;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

.header-list {
    list-style: none;
    display: inline;
    vertical-align: top;
}

.not-available{
    cursor: no-drop;
}